<!DOCTYPE html>
<html>
<head>
    <title>Detalles de la Película</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= pelicula.titulo %></h1>
    
    <ul>
        <li><strong>ID en el sistema:</strong> <%= pelicula.id %></li>
        <li><strong>Director:</strong> <%= pelicula.director %></li>
        <li><strong>Año de Estreno:</strong> <%= pelicula.año %></li>
    </ul>

    <br>
    <a href="/cartelera">Volver a la cartelera</a>
</body>
</html>